GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-001'
GOOGLE_LLM_MODEL='gemini-2.0-flash'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_LLM_MODEL='gpt-4o-mini'
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=documents
PDF_PATH=assets/document.pdf
